.navbar-default .navbar-collapse {
	border: none;
	box-shadow: none;
}

.navbar-default {
	border: none;
	background: transparent;
}

.contact {
	font-family: Montserat;
	background-color: #f5f5f5;
}

.contact h2 {
	font-size: 30px;
	letter-spacing: 0.1em;
	color: #171717;
}

.inner_box {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 100px;
}
.custome_check input {
	display: none;
}
.custome_check input:checked + label {
	color: red;
}

label {
	position: relative;
	padding-left: 15px;
}

label:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #f00;
}

 input:checked + label:after {
	content: '';
	position: absolute;
	left: 3px;
	top: 6px;
	width: 4px;
	height: 4px;
	background-color: red;
}
